@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Custom variables */
:root {
  --clr-primary: hsl(218, 28%, 13%);
  --clr-intro-background: hsl(217, 28%, 15%);
  --clr-footer-background: hsl(216, 53%, 9%);
  --clr-reviews-background: hsl(219, 30%, 18%);
  --clr-light: hsl(0, 0%, 100%);

  --accent-clr-primary: hsl(176, 68%, 64%);
  --accent-clr-secondary: hsl(198, 60%, 50%);
  --accent-clr-error: hsl(0, 100%, 63%);

  --ff-heading: "Raleway", sans-serif;
  --ff-text: "Open Sans", sans-serif;
}

/* Typography */

body {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-size: 1.5rem;
}

p {
  font-family: var(--ff-text);
  font-size: 1rem;
}

html {
  background-color: var(--clr-primary);
}

/* Mobile styles */
.navbar {
  min-width: 100%;
}

.navbar .nav-container {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}

.logo img {
  max-height: 4vh;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  gap: 2em;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  font-family: var(--ff-heading);
  color: var(--clr-light);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--accent-clr-secondary);
  border-bottom: 2px solid var(--accent-clr-secondary);
  padding-bottom: 5px;
  transition: 0.3s ease;
}

section {
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 4em;
}

.hero-container {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
}

.hero-image {
  margin-bottom: 2.5em;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
  text-align: center;
}

.hero-content h1 {
  line-height: 1.5em;
  max-width: 70ch;
  font-size: 2rem;
}

.hero-content p {
  padding-top: 1em;
  padding-bottom: 2em;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-main {
  border: none;
  font-family: var(--ff-text);
  background: rgb(101, 226, 217);
  background: linear-gradient(
    135deg,
    rgba(101, 226, 217, 1) 0%,
    rgba(51, 158, 204, 1) 100%
  );
  color: #fff;
  font-weight: 600;
  padding: 1em 7em;
  border-radius: 50px;
}

.btn-main:hover {
  background: rgb(101, 226, 217);
  background: linear-gradient(
    135deg,
    rgb(180, 252, 247) 0%,
    rgb(127, 209, 245) 100%
  );
  cursor: pointer;
}

.features-container {
  display: grid;
  grid-auto-flow: row;
  gap: 7em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-icon {
  margin-bottom: 2em;
}

.feature-icon i {
  min-width: 80px;
  max-width: 80px;
}

.feature h2 {
  margin-bottom: 0.5em;
  font-weight: 600;
}

.feature p {
  font-size: 1.05rem;
}

#features {
  margin-bottom: 6em;
}

.about-container {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.about-content p {
  font-size: 1.05rem;
}

.about-content h1 {
  margin-bottom: 1em;
}

.about-content p:nth-last-of-type(1) {
  margin-bottom: 1em;
}

.weird-button-thing {
  color: var(--accent-clr-primary);
  font-family: var(--ff-text);
  text-decoration: none;
  padding-bottom: 0.3em;
  border-bottom: 2px solid var(--accent-clr-primary);
}

.weird-button-thing::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0a9";
  padding-left: 5px;
}

.weird-button-thing:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  transition: 0.3s ease-in-out;
}

.reviews-container {
  display: grid;
  grid-auto-flow: row;
  gap: 2em;
}

#reviews {
  margin: 1em;
  padding-bottom: 10em;
}

.review {
  background-color: var(--clr-reviews-background);
  padding: 2em;
  border-radius: 10px;
  line-height: 1.8em;
}

.review h4 {
  font-size: 1rem;
  letter-spacing: 1px;
}

.review-author p {
  font-size: 0.8rem;
}

.avatar img {
  max-height: 3em;
  border-radius: 30px;
}

.avatar {
  padding-right: 1em;
}

.review-author {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.access-container {
  display: grid;
  background-color: var(--clr-intro-background);
  border-radius: 10px;
  padding: 2.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.access-content {
  text-align: center;
}

.access-content p:nth-of-type(1) {
  padding-top: 1em;
}

.access-input {
  text-align: center;
}

.email-input {
  margin: 2rem 0;
  border: none;
  font-family: var(--ff-text);
  background: #fff;
  color: #333;
  font-weight: 400;
  padding: 1em;
  border-radius: 50px;
  text-align: left;
  width: 22em;
}

#email {
  text-align: center;
}

.btn-input {
  border: none;
  font-family: var(--ff-text);
  background: rgb(101, 226, 217);
  background: linear-gradient(
    135deg,
    rgba(101, 226, 217, 1) 0%,
    rgba(51, 158, 204, 1) 100%
  );
  color: #fff;
  font-weight: 600;
  padding: 1em 6em;
  border-radius: 50px;
}

.btn-input:hover {
  background: rgb(101, 226, 217);
  background: linear-gradient(
    135deg,
    rgb(180, 252, 247) 0%,
    rgb(127, 209, 245) 100%
  );
  cursor: pointer;
}

footer {
  background-color: var(--clr-footer-background);
  padding: 2em;
}

.footer-contact {
  font-family: var(--ff-text);
}

.footer-container {
  display: grid;
  grid-auto-flow: row;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

footer li {
  list-style-type: none;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  font-family: var(--ff-heading);
  color: var(--clr-light);
  text-decoration: none;
}

footer ul li a:hover {
  color: var(--clr-light);
  font-weight: bold;
  transition: 0.5s ease;
}

.footer-socials ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-contact li:nth-of-type(1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  padding-right: 2em;
}

.footer-contact li:nth-of-type(2)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f095";
  padding-right: 2em;
}

.footer-contact li:nth-of-type(3)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
  padding-right: 2em;
}

.footer-contact li {
  max-width: 70ch;
}

footer i {
  border: 2px solid white;
  padding: 0.8em;
  border-radius: 50px;
}

i:hover {
  border: 2px solid var(--accent-clr-secondary);
  color: var(--accent-clr-secondary);
  transition: 0.3s ease;
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 1.2rem;
  }

  .hero-image {
    max-width: 70%;
  }

  .hero-content {
    max-width: 70ch;
    margin: 0 auto;
  }

  #features {
    margin-left: 20em;
    margin-right: 20em;
  }

  .features-container {
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
  }

  .feature {
    max-width: 70ch;
    margin: auto;
  }

  .feature:last-child {
    margin-top: 1.35em;
  }

  .about-container {
    grid-auto-flow: column;
    gap: 5em;
  }

  .about-content {
    max-width: 70ch;
    margin: auto;
  }

  .about-image img {
    min-width: 100%;
  }

  .about-content h1 {
    font-size: 2.1rem;
  }

  .reviews-container {
    grid-auto-flow: column;
    margin-right: 4em;
  }

  .review {
    min-width: 30ch;
  }

  .access-container {
    max-width: 50em;
    margin: auto;
  }

  footer {
    padding-top: 4em;
  }

  .footer-container {
    grid-auto-flow: column;
    gap: 5em;
  }
}
